$govuk-fonts-path: "/static/govuk/assets/fonts/";
$govuk-images-path: "/static/govuk/assets/images/";

// import all GOVUK Frontend scss
@import "govuk/all";

@import "settings/all";
@import "objects/all";
@import "core/all";

// this will import all the components from components/_all.scss
@import "components/all";

.js-hidden {
  display: none;
  visibility: hidden;
}
