$dl-frontend-assets-path: "/assets/" !default;
$dl-frontend-fonts-path: "/static/govuk/assets/fonts/" !default;
$dl-frontend-images-path: "/static/govuk/assets/images/" !default;

$govuk-assets-path: $dl-frontend-assets-path;
$govuk-fonts-path: $dl-frontend-fonts-path;
$govuk-images-path: $dl-frontend-images-path;

// import all GOVUK Frontend scss
@import "govuk/all";

@import "settings/all";
@import "objects/all";
@import "core/all";

// this will import all the components from components/_all.scss
@import "components/all";

.js-hidden {
  display: none;
  visibility: hidden;
}
