{% from "digital-land-frontend/components/dl-header-bar/macro.html" import dlHeaderBar %}
{{ dlHeaderBar({
    "items": [
        {
            "href": "/about",
            "text": "Team"
        },
        {
            "href": "/project/",
            "text": "Projects"
        },
        {
            "href": "/weeknote/",
            "text": "Weeknotes"
        },
        {
            "href": "/blog-post/",
            "text": "Blog"
        },
        {
            "href": "/guidance/",
            "text": "Guidance"
        },
        {
            "href": "/dataset/",
            "text": "Datasets"
        },
        {
            "href": "/organisation/",
            "text": "Organisations"
        },
        {
            "href": "/map/",
            "text": "Map"
        }
    ]
}) }}