{%- from "govuk-frontend-jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{{ govukPhaseBanner({
    "tag": {
        "text": "prototype"
    },
    "html": 'This is a prototype. Please provide feedback to the Digital Land team.'
}) }}
