{
  "env": {
    "browser": true,
    "node": true
  },
  "ignore": [
    "/package/digital-land-frontend/**/*.js",
    "digital_land_frontend/src/javascripts/vendor/polyfills/**/*.js"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
