{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body-l">A list of shared components and how to use them to create web applications for services within DLUHC's digital planning programme.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <p class="govuk-heading-m govuk-!-margin-bottom-1"><a href="#">Component name</a></p>
        <p class="govuk-body">Description here</p>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}
