{% extends 'digital-land-frontend/layouts/base.jinja' %}

{% block stylesheets %}
  {% block pageStylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dl-frontend.css') }}">
  {% endblock pageStylesheets %}
{% endblock %}

{% block mastHead %}
<header class="govuk-header {{ app_header_classes }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-govuk-header__container">
    <div class="header-proposition">
        <a href="/" class="govuk-header__link govuk-header__link--service-name">
          Frontend components
        </a>
        {# <nav class="govuk-header__navigation" aria-label="Menu">
          <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">Link</a>
            </li>
          </ul>
        </nav> #}
    </div>
  </div>
</header>
{% endblock mastHead %}

{% block beforeContent %}
{% endblock beforeContent %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title|default('Index') }}</h1>
{% endblock content %}

{% block govScripts %}
  {{ super() }}
{% endblock %}

{% block digitalLandScripts -%}
  {{ super() }}
{%- endblock %}
