{% extends "digital-land-frontend/base.jinja" %}
{% set templateName = "digital-land-frontend/base--full-width.jinja" %}

{% block mastHead  %}
{% include 'digital-land-frontend/partials/dl-header--full-width.jinja' %}
{% endblock mastHead %}

{% block main %}
<div class="dl-container--full-width {{ containerClasses }}">
    {% block beforeContent %}
    {% include 'digital-land-frontend/partials/dl-prototype-banner.jinja' %}
    {% block dl_breadcrumbs %}{% endblock %}
    {% endblock%}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}

{# setting this variable will make footer full width #}
{% set footer_container_classes = "dl-container--full-width" %}
